.container-perfil-candidato{
    background-color:  #60519b;
    height: 80vh;
    width: 80%;
    padding: 40px;
}

h3 {
    color:rgb(209, 209, 235);
}

h2{
    color: #2b124c ;
    text-align: center;
    background-color: rgb(209, 209, 235);
    border-radius: 5px;
}

.container-vagas{
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
}

#lista-vagas li{
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
}

