@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.navbar {
    background: linear-gradient(90deg, rgb(50, 31, 53) 0%, rgb(41, 33, 72) 50%, rgba(43, 18, 76, 1) 100%);
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar li a:hover ,button:hover {
    color:  #60519b;
}

button{
    cursor: pointer;
}

.navbar input {
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(96, 81, 155, 1);
    background: linear-gradient(90deg,rgb(50, 31, 53) 0%, rgb(41, 33, 72) 50%, rgba(43, 18, 76, 1) 100%);
}





/* collors {
    #bfe0d1 -> branco
    #2b124c -> roxo escuro
    #60519b
    #1e202c
    #31323e
} */
